
$font = "Droid Sans Mono", "Lucida Console", Monaco, monospace
$user = evo
$host = nemui

/* Black */
$color00 =  #36393B
$color08 =  #45484B
/* Red */
$color01 =  #D65C56
$color09 =  #823C3C
/* Green */
$color02 =  #8FC383
$color10 =  #CEE3A2
/* Yellow */
$color03 =  #FCD036
$color11 =  #E3AD40
/* Blue */
$color04 =  #45ADA8
$color12 =  #4E9FB1
/* Magenta */
$color05 =  #827085
$color13 =  #4E395D
/* Cyan */
$color06 =  #A1D4D8
$color14 =  #448792
/* White */
$color07 =  #E8F3F8
$color15 =  #DBE6EC

